.SkillTree {
    background-color: lightblue;
    padding-bottom: 15px;
    position: relative;
    padding-top: 30px;
    font-size: 13px;
}

.verticalBar {
    position: absolute;
}

.horizontalBar {
    position: absolute;
}

.skillNode {
    position: absolute;
}

.baseSkill {
    margin-top: 0px;
}

.regularSkill {
    padding-left: 0px;
}