.SkillTree {
    background-color: lightblue;
    padding-bottom: 15px;
    position: relative;
    padding-top: 30px;
    font-size: 13px;
}

.verticalBar {
    border-left: 4px solid #5B6DCD;
    position: absolute;
}

.horizontalBar {
    border-top: 4px solid #5B6DCD;
    position: absolute;
}

.skillNode {
    _width: 200px;
    _height: 60px;
    _border: solid black 4px;
    position: absolute;
}

.baseSkill {
    margin-top: 0px;
}

.regularSkill {
    padding-left: 0px;
}