.HeaderBar {
    background-color: #002D01;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 180px;
    display: table;
    width: 100%;
    color: white;
}

.HeaderImg {
    width: 60%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.HeaderControls {
    text-align: left;
    display: table-cell;
    width: 35%;
    margin-left:auto;
    vertical-align: middle;
}

.HeaderLabel {
    font-weight: bold;
}