.HeaderBar {
    background-color: lightcoral;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 180px;
    display: table;
    width: 100%;
}

.HeaderImg {
    width: 60%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.HeaderControls {
    text-align: left;
    display: table-cell;
    width: 35%;
    margin-left:auto;
    vertical-align: middle;
}