.SkillInfoPanel {
    position: absolute;
    background-color: #c6ffec;
    padding: 10px;
    font-size: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: #034079;
    z-index: 2;
    opacity: 0.9;
}

.SkillDescription {
    margin: 0;
    padding: 0;
    /* color: blue; */
}

.levelGrowthElt {
    font-size: 14px;
}

.SkillHeader {
    font-size: 16px;
}

.SkillInfoTable table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

.SkillInfoTable th, .SkillInfoTable td {
    border: 2px solid black;
    border-spacing: 0;
    padding: 3px;
    font-size: 14px;
}